<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87788412781-eiqebuko2610djlfm6imm2977i9nl2rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87788412781-eiqebuko2610djlfm6imm2977i9nl2rf</string>
	<key>API_KEY</key>
	<string>AIzaSyBuDCKoILlJz_l_x_uiiVC8WRuy7BO48FY</string>
	<key>GCM_SENDER_ID</key>
	<string>87788412781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.datacode.randevu</string>
	<key>PROJECT_ID</key>
	<string>randevu-2cfff</string>
	<key>STORAGE_BUCKET</key>
	<string>randevu-2cfff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87788412781:ios:eadb215caf2614242f0464</string>
</dict>
</plist>